@font-face {
    font-family: Soleto-Regular;
    src: url(../assets/fonts/Soleto_Rg.ttf);
}

@font-face {
    font-family: Soleto-Light;
    src: url(../assets/fonts/Soleto_Lt.ttf);
}

@font-face {
    font-family: Soleto-Bold;
    src: url(../assets/fonts/Soleto_XBd.ttf);
}

html:-webkit-full-screen-ancestor {
	background-color: #062359;
}
body {
    width: 1920px;
    height: 1080px;
    background-image: url(../assets/new/background.png);
    background-repeat: no-repeat;
    font-family: Soleto-Regular;
    -webkit-font-smoothing: antialiased;
/*    cursor: none;*/
}
img {
	position: relative !important;
	width: 100%;
}
.img-div {
	position: absolute;
	overflow: hidden;
}
.img-div > img {
	display: none;
}
.left {
	left: 0;
}
.right {
	right: 0;
}
button {
	border: none;
	background: none;
/*	cursor: none;*/
}
button:focus {
	outline:0;
}
.slide-btn {
	position: absolute;
/*	border: 1px solid #000;*/
}
a {
	background: none !important;
}
#slideNumber {
	display: none;
    position: absolute;
    font-size: 32em;
    color: rgba(238, 238, 238, 0.46);
    float: right;
    right: -4%;
    height: 5%;
    background: none;
}
#first-background {
	display: none;
}
#watermark {
	position: absolute !important;
	left: 0;
	bottom: 0;
	width: 100%;
}
#video-background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
}
#header-title {
	width: 38%;
	position: absolute !important;
	top: 0;
}
#close {
	display: none;
	position: absolute;
	width: 60px;
	height: 60px;
	right: 35px;
	bottom: 22px;
	background: url(../assets/new/exitbutton_white@2x.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#exit-fs {
	width: 7%;
	height: 10%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 3000;
}
/* MAIN NAVIGATION */

.right-nav {
	position: absolute;
	top: 36%;
	right: 20px;
	height: 165px;
	width: 60px;
	z-index: 1000;
}
.left-nav {
	position: absolute;
	top: 36%;
	float: left;
	height: 165px;
	width: 60px;
	z-index: 1000;
}
#home {
	width: 60px;
}
#home-btn {
	width: 60px;
	height: 50px;
}
.nav-btn {
	display: block;
	width: 100%;
	height: 50%;
	background-size: 64% 100%;
	background-repeat: no-repeat;
	background-position: 20px 0px;
}
.leftSlide {
	background-image: url(../assets/icon-caret-left.png);
}
.rightSlide {
	margin-bottom: 20px;
	background-image: url(../assets/icon-caret-right.png);
}
.leftSlide.disabled {
	background-image: url(../assets/Arrow_light_light.png);
}
.rightSlide.disabled {
	background-image: url(../assets/Arrow_light_right.png);
}
/* HEADER */

.top-header {
	width: 100%;
	margin-top: 35px;
	margin-left: 83px;
}
.top-header > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.top-header > ul > li {
	display: inline;
	text-align: center;
	padding: 0px 15px;
	color: #000;
	font-size: 20px;
	font-family: Soleto-Regular;
}
.top-header > ul > li.active {
	color: #0000ff;
}
.top-header > ul:not(#custom_header) > li:not(:last-child) {
	border-right: 1px solid #000;
}
#last_header {
	display: none;
}
#custom_header > li:not(.active) {
	display: none;
}
/* FOOTER */
.btm-nav-btn {
	color: #fff;
	height: 59px;
}
.footer-menu {
	position: absolute;
	width: 100%;
	text-align: center;
	background: #8C9FAF;
}
.footer-menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 15%;
    margin-bottom: 1.2%;
    margin-top: 1.2%;
}

.footer-menu > ul > li > a:hover, 
.footer-menu > ul > li > a:hover,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:hover
{
	background-color: transparent !important;
}

.footer-menu > ul > li {
	display: inline;
	text-align: center;
/*	padding: 3px 15px;*/
	margin-right: 25px;
	font-size: 20px;
	height: 60px;
	font-family: Soleto-Bold;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.footer-menu > ul > li:not(#dropUp):not(#home) {
	border: 3px solid #fff;
	width: 280px;
/*	background-image: url(../assets/btn_blank.png);*/
}
.footer-menu > ul > li:not(#dropUp):not(#home).active {
	background: #fff;
/*	background-image: url(../assets/btn_selected.png);*/
}
.footer-menu > ul > li:not(#dropUp):not(#home).active > button {
	color: #8C9FAF;
}
.footer-menu > ul > li#home {
	float: left;
	background-image: url(../assets/new/btn-home@2x.png);
}
.footer-menu > ul > li#dropUp {
	float: right;
}
#dropUp > #navigator-btn {
	width: 60px;
    height: 60px;
    border: none;
    background: none;
	background-image: url(../assets/new/btn-menu@2x.png);	
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#dropUp.active > #navigator-btn {
	background-image: url(../assets/new/Menu_Diesel_B.png);
}
.dropdown-menu {
	bottom: 86px !important;
	margin-left: -69px;
	height: 350px;
	width: 200px;
	background: none;
	background-image: url(../assets/Dropup_Diesel@2x.png);	
	background-repeat: no-repeat;
	background-size: 100% 100%;	
	border: none !important;
	box-shadow: none !important;
}
.dropdown-menu > li {
	width: 87%;
    margin: auto;
	text-align: center;
	height: 17%;
}
.dropdown-menu > li:not(:last-child) {
	border-bottom: 1px solid rgba(255, 255, 255, 0.50);
}
.dropdown-menu > li > button {
	color: rgba(255, 255, 255, 0.70);
	line-height: 60px;
	background: none !important;
}
.dropdown-menu > li > button.active {
	color: rgba(255, 255, 255, 1.00);
}
/* SECTIONS */
.main-title {
	opacity: 0;
	text-align: left;
	font-size: 55px;
	padding-bottom: 33px !important;
	color: #0000ff;
	padding-left: 18px !important;
	font-family: Soleto-Light;
}
#slide-1 > .main-title {
	margin-top: 3%;
	margin-left: 2%;
}
.content {
    padding-top: 65px;
}
.footer-text {
	position: absolute;
	bottom: 0px;
	height: 130px;
	width: 100%;
    font-size: 34px;
	color: #0000ff;
}
.footer-text > p.one-line {
	line-height: 40px;
	padding-top: 45px;
}
.footer-text > p.double {
	padding-top: 30px;
}
.top-footer-line, 
.btm-footer-line {
	width: 0%;
    position: absolute;
    height: 100%;
	overflow: hidden;
}
.top-footer-line > img, 
.btm-footer-line > img {
	position: absolute !important;
	width: 1073px;
}
.btm-footer-line > img {
	right: 0;
	bottom: 0;
}
.top-footer-line > img {
	left: 0;
}
.top-footer-line {
    left: -5%;
    top: 0;
}
.btm-footer-line {
	bottom: 0;
	right: -5%;
}
.full-width {
	width: 100%;
	left: 20px;
	top: 120px;
}
#slide-1 > h1.main-title {
	text-decoration: underline;
}
